:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --footer-address-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'roboto', sans-serif;
    color: var(--primary-text-color);
    background: #F5F5F5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
/*-----header-----*/
.header {
    background: #FFFFFF;
}
.logo {
   font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 0.03em;
    color: var(--logo-color);
}
.logo-web {
    color: var(--accent-color);
}

.header-link.current {
    color: var(--accent-color);
}

.header-link .header-link-current {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-link:hover, 
.header-link:focus {
    color: var(--accent-color);
}

.header-mail, .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

/* --hero-- */
.hero {
    background: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
}

/* --benefits--*/

.our-benefits-title {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.benefits-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-text-color);
}

.benefits-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
}

/* --about-- */

.about {
    background: #F5F5F5;
}
.about-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}

/* --teams-- */

.teams {
    background: #F5F4FA;
}
.teams-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}

.teams-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}

.teams-info {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
}

/* --footer-- */

.footer {
        background: #2F303A;
}

.footer-logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--primary-white-color);
}

.address {
    font-style: normal;
}

.footer-address {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--primary-white-color);
}
.footer-mail, .footer-tel {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--footer-address-color);
}

